/*BEGIN FLipmaus Styling*/

.controller.custom{
    background: url(img/base.png);
    height: 200px;
    width: 800px;
    background-position-x: 0px;
    background-repeat:no-repeat;
}
.custom.disconnected { 
    background: url(img/disconnected.png);
    background-repeat:no-repeat;
}
.custom.disconnected div {
    display: none;
}


/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;

}

.custom .a.button.pressed{
    width:51px;
    height:51px;
    left: 220px;
    top: 71px;
    background: url(img/one.png);
}

.custom .b{ 
    background-position: -104px 0px;
    top: 0px;
    left: 0px;
    background-repeat:no-repeat;
}

.custom .b.button.pressed{
    width:51px;
    height:51px;
    left: 340px;
    top: 71px;
    background: url(img/two.png);
}

.custom .a{ 
    background-position: -104px 0px;
    top: 0px;
    left: 0px;
    background-repeat:no-repeat;
}

.custom .x.button.pressed{
    width:51px;
    height:51px;
    left: 410px;
    top: 71px;
    background: url(img/three.png);
}

.custom .x{ 
    background-position: -104px 0px;
    top: 409px;
    left: -60px;
    background-repeat:no-repeat;
}


.custom .sticks{
    position: absolute;
    width: 310px;
    height: 100px;
    top: 0px;
    left: 0px;
    background-repeat:no-repeat;
}
.custom .stick.left{
    position: absolute;
    background: url(img/stick.png);
    height:42px;
    width: 42px;
    background-repeat:no-repeat;
}
.custom .stick.pressed.left{
    background-position-x: -88px;
}


.custom .stick.left{
    top: 61px;
    left: 60px;
}


/*END FLipmaus Styling*/
