/*BEGIN FLipmaus Styling*/

.controller.custom{
    background: url(img/test.png);
    width: 1111px;
    height: 582px;
    background-position-x: 0px;
    background-repeat:no-repeat;
}

/*END FLipmaus Styling*/
