/*BEGIN FLipmaus Styling*/

.controller.custom{
    background: url(img/base.png);
    height: 200px;
    width: 800px;
    background-position-x: 0px;
    background-repeat:no-repeat;
}
.custom.disconnected { 
    background: url(img/disconnected.png);
    background-repeat:no-repeat;
}
.custom.disconnected div {
    display: none;
}


/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;

}

.custom .a.button.pressed{
    width:51px;
    height:51px;
    left: 240px;
    top: 71px;
    background: url(img/one.png);
}

.custom .b{ 
    background-position: -104px 0px;
    top: 0px;
    left: 0px;
    background-repeat:no-repeat;
}

.custom .b.button.pressed{
    width:51px;
    height:51px;
    left: 340px;
    top: 71px;
    background: url(img/two.png);
}

.custom .a{ 
    background-position: -104px 0px;
    top: 0px;
    left: 0px;
    background-repeat:no-repeat;
}

.custom .x.button.pressed{
    width:51px;
    height:51px;
    left: 410px;
    top: 71px;
    background: url(img/three.png);
}

.custom .x{ 
    background-position: -104px 0px;
    top: 409px;
    left: -60px;
    background-repeat:no-repeat;
}


/* Dpad possitioning and sizing */
.custom .dpad{
    position: absolute;
    width: 140px;
    height: 132px;
    top: 60px;
    left: 680px;
}
.custom .face{
    background: url(img/joined_puff_sip.png);
    position: absolute;
}

.custom .face.up, .custom .face.down{
    width: 80px;
    height: 80px;
}
.custom .face.left, .custom .face.right{
    width: 80px;
    height: 80px;
}

.custom .face.up{
    left: 50px;
    top: 0;
    background-position: 92px 0px;
}
.custom .face.down{
    left: 50px;
    top: 79px;
    background-position: 131px 0;
}
.custom .face.left{
    top: 47px;
    left: 0;
    background-position: 0px 0;
}
.custom .face.right{
    top: 47px;
    right: 0px;
    background-position: 53px 0;
}
.custom .face.pressed{
    margin-top: 5px;
    background-position-y: 52px;
}


.custom .sticks{
    position: absolute;
    width: 310px;
    height: 100px;
    top: 0px;
    left: 0px;
    background-repeat:no-repeat;
}
.custom .stick.left{
    position: absolute;
    background: url(img/stick.png);
    height:42px;
    width: 42px;
    background-repeat:no-repeat;
}
.custom .stick.pressed.left{
    background-position-x: -88px;
}


.custom .stick.left{
    top: 61px;
    left: 60px;
}


/*END FLipmaus Styling*/
